@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* 파스텔 배경색 */
  margin: 0;
  padding: 0;
}

h2 {
  margin: 20px 0;
}
.hero-section {
  background-image: url('https://cdn.pixabay.com/photo/2023/06/17/05/55/return-8069270_1280.jpg');
  background-size: cover; /* 배경 이미지가 섹션을 가득 채우도록 설정 */
  background-position: center; /* 배경 이미지의 위치를 중앙으로 설정 */
  /* ... 기존 스타일 ... */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
